html{
    background-color:#7a4f32;
}

table{
    width: 200px;
    height: 100px;
    margin: auto;
    position: relative;
    display: inline-flexbox;
    border: 5px solid #000;
}
.inputs{
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    margin-top: 50px;
}
#inputText{
    margin-top: 50px;
    height: 200px;
    width: 250px;
    position: relative;
    margin: 0 auto;

}
#inputButton{
    position: relative;
    margin-left: 48.5%;
}
.table table{
    background-color: #9c6540;
    align-self: auto;
}

.cell{
    height: 40px;
    width: 40px;
    border: 0.5px solid #000;
    background-color: #7a4f32;
    background: url(/img/hidden.png);
}
.cellMine{
    border: 0.5px solid #000;
    height: 20px;
    width: 20px;
    background-color: #7a4f32;
    background: url(/img/mine-transparentBackground.png);
    background-size:auto;
}